<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>asw1028.access.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetThreads</servlet-name>
        <servlet-class>asw1028.access.GetThreads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSections</servlet-name>
        <servlet-class>asw1028.access.GetSections</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewDiscussion</servlet-name>
        <servlet-class>asw1028.access.NewDiscussion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>asw1028.access.UploadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetThreads</servlet-name>
        <url-pattern>/GetThreads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSections</servlet-name>
        <url-pattern>/GetSections</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewDiscussion</servlet-name>
        <url-pattern>/NewDiscussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
</web-app>
