/*
Contains main style for the website
*/

@import url("reset.css");
@import url("text.css");
@import url("form.css");

html,body{
    height: 100%;
}

body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-image: url("../multimedia/bg/bg4.png");
}

#wrapper{
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    padding-bottom: 0px;
}

#content {
    float: left;
    width: 99%;
    padding: 5px;
    margin: 4px;
}

.container {
    background: rgba(255,255,255,0.6);
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    margin: 8px;
}

footer {
    position: relative;
    margin-top: -25px;
    height: 25px;
    color: white;
    font-weight: 10;
    background-color: #003300;
    clear: both;
}

footer div{
  height: 16px;
  text-align: center;
  float: left;
  padding: 4px 15px 4px 15px;
}

footer div:hover{
  background-color: #006600;
}

header {
    float: left;
    width: inherit;
    color: white;
    font-weight: bold;
    background-color: #006600;
    border-bottom: 5px #339900 solid;
}

header div{
    height: 32px;
    float: left;
    padding: 5px 10px 5px 10px;
}

header div span{
    position: relative;
    top: -30%;
    /*background: gray;*/
}

header div:hover{
  background-color: #339900;
}

footer img.resize {
    max-height: 16px;
    max-width: auto;
}

header img.resize {
    max-height: 32px;
    max-width: auto;
}

.bar_right {
    float: right;
}
#messaggi {
    position: relative; /*important for absolute positioning*/
}
#messaggi #number{
    font-weight:bold;
    font-size: 10px;
    background: red;
    color: white;
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
    padding:1px 2px 1px 2px;
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: 4px;
    right:4px;
}

/*Main Page Style*/
#courses{
    padding: 5px;
}

#courses div.section{
    background: #006600;
    /* background-image: url('../multimedia/icons/books44.png'); */
    background-size: 32px 32px;
    background-position: 10px center;
    background-repeat: no-repeat;
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 200;
    font-size: 16px;
    width: 300px;
    height: 32px;
    padding: 10px;
    padding-left: 52px;
    margin-top: 10px;
    border-radius: 20px;
}

#courses div.section p{
    color: #00cc66;
    font-weight: 100;
    font-size: 12px;
    padding: 5px 0px 0px 10px;
}

#courses div.section:hover{
    margin-left: 15px;
}

/*errorbox*/
.errorbox
{
    background: #ffcc33;
    background-image: url('../multimedia/icons/wrench73.png');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 10px center;
    min-height: 40px;
    width: 300px;
    padding: 5px;
    margin: 10px;
}

.errorbox img{
    margin: 10px;
    float: left;
    height: 16px;
    width: auto;
}
.errorbox p{
    text-align: center;
    padding-left: 52px;
}

/*dbox*/
.dbox {
    font-family: Verdena, Geneva, sans-serif;
    color: snow;
    padding-left: 20px;
    padding: 5px;
    background: #006600;
    width: 650px;
    border-bottom: 5px #00cc66 solid;
    margin-bottom: 5px;
    border-radius: 8px;
}
.dbox p {
    padding: 0;
    margin: 0;
}

.dbox:hover{
    border-bottom: 5px #ffff00 solid;
/*    background: #00cc66;*/
}

.dbox .right{
    float: right;
}

.dbox .title{
    font-weight: 100;
    font-size: 15px;
}

.dbox .title{
    font-weight: bold;
    color: #00cc33;
}

.dbox .minor{
    font-weight: 10;
    font-size: 10px;
    color: #ccffcc;
}

.dbox .desc{
    font-weight: 10;
    font-size: 11px;
}

.dbox .autor{
    font-style: italic;
}
.dbox .data{
    font-style: italic;
    font-size: 11px;
}

.avatar img{
    border: 2px solid #333333;
    max-height: 100px;
    width: auto;
}

/*Profile*/

.profile .profileinfo{
    float: left;
    padding: 10px;
    /*border: 2px solid #333333;*/
    width: 30%;
    margin-left: 2%;
}

.profile .avatar{
    float: left;
    padding: 10px;
}

.profile{
    overflow: auto;
}

/*discussion*/

.message
{
    background: rgba(255,255,255,0.6);
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    margin: 8px;
    margin-bottom: 0;
    overflow: auto;
}

.message .avatar{
    text-align: center;
    float: left;
    background: #ccffcc;
    width: 105px;
    margin: 5px;
    padding: 5px;
    border:#00cc66 solid;
    border-radius: 10px;
}

.message .avatar img{
    float: left;
}

.message .content{
    float: right;
    width: 88%;
    margin-bottom: 10px;
    margin-top: 5px;
    /*background: #00cc33;*/
    padding: 5px;
    overflow: auto;
    padding-bottom: 25px;
}

.message .files{
    clear: both;
    margin-top: 10px;
}

.message .files .attach{
    float:right;
    text-align: center;
    padding: 5px;
    background: #006600;
    color:#00cc66;
    border-radius: 25px;
}

.message .files .attach:hover{
    color: snow;
    background: #00cc66;
}

.files .attach img{
    margin-left: auto;
    margin-right: auto;
    height: 16px;
    width: auto;
}

.options {
    float: right;
    clear: right;
    padding: 2px 10px 2px 10px;
    background: rgba(255,255,255,0.4);
    border-radius: 5px;
}

.upmargin {
    margin-top: 30px;
}