/*
Contains main style for the website
*/

@import url("reset.css");
@import url("text.css");

body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#wrapper{
    margin: 0 auto;
    width: 100%;
}

#content {
    float: left;
    width: inherit;
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    float: left;
    width: inherit;
    color: white;
    font-weight: 10;
    background-color: #339900;
}

footer div{
  height: 16px;
  text-align: center;
  float: left;
  padding: 4px 15px 4px 15px;
}

footer div:hover{
  background-color: #006600;
}

header {
    float: left;
    width: inherit;
    color: white;
    font-weight: bold;
    background-color: #006600;
    border-bottom: 5px #339900 solid;
}

header div{
    height: 32px;
    float: left;
    padding: 5px 10px 5px 10px;
}

header div span{
    position: relative;
    top: -50%;
    /*background: gray;*/
}

header div:hover{
  background-color: #339900;
}

footer img.resize {
    max-height: 16px;
    max-width: auto;
}

header img.resize {
    max-height: 32px;
    max-width: auto;
}

.bar_right {
    float: right;
}
#messaggi {
    position: relative; /*important for absolute positioning*/
}
#messaggi #number{
    font-weight:bold;
    font-size: 10px;
    background: red;
    color: white;
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
    padding:1px 2px 1px 2px;
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: 4px;
    right:4px;
}

/*Main Page Style*/
#courses{
    background-color: gray;
    padding: 5px;
}

#courses section{
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 200;
    font-size: 16px;
    width: 200px;
    padding: 10px;
    padding-left: 20px;
    background: #9999ff;
    margin-top: 10px;
}

#courses section:hover{
    margin-left: 15px;
}


