/*
Information about standard text style, nothing about structure
*/

body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

h1.longh {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 100%px;
    background-color: #006633;
    border-left: solid 10px #006600;
    padding: 6px;
    padding-left: 0;
}

h2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    font-weight: bold;
}
