/*
Information about standard text style, nothing about structure
*/

body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

h1.longh {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    background-color: #006633;
    border-left: solid 4px #003300;
    padding: 5px;
    padding-left: 10px;
}

h1 img{
    height: 16px;
    width: auto;
}

h2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

h2 img {
    height: 16px;
    width: auto;
}

h2.longh {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    font-weight: 10;
    width: 100%;
    padding: 5px;
    background-color: #009933;
    border-left: solid 4px #003300;
    color: snow;
    padding-left: 15px;
    border-bottom: 2px solid #003300;
}

a{
     text-decoration: none;
}

/* unvisited link */
a:link {
    color: #ffffff;
}

/* visited link */
a:visited {
    color: #ffffff;
}

/* mouse over link */
a:hover {
    color: #cccccc;
}

/* selected link */
a:active {
    color: #cccccc;
}

ul {
    list-style-type: circle;
    padding-left: 10px;
}